.hero {
  position: relative;
  background-color: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4) 0%,
      rgba(47, 48, 58, 0.4) 100%
    ),
    url(../image/hero/hero-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 400px;

  &-container {
    position: absolute;
    max-width: 360px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 1;
  }

  &-title {
    margin-top: 0;
    margin-bottom: 30px;
    color: $primayry-white-color;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}
@media screen and (min-device-pixel-ratio: 2),
  screen and (-webkit-min-device-pixel-ratio: 2),
  screen and (-o-min-device-pixel-ratio: 2/1),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4) 0%,
        rgba(47, 48, 58, 0.4) 100%
      ),
      url(../image/hero/hero-mobile@2x.jpg);
  }
}
@include for-size(tablet) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4) 0%,
        rgba(47, 48, 58, 0.4) 100%
      ),
      url(../image/hero/hero-tablet.jpg);
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (-o-min-device-pixel-ratio: 2/1),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4) 0%,
          rgba(47, 48, 58, 0.4) 100%
        ),
        url(../image/hero/hero-tablet@2x.jpg);
    }
  }
}

@include for-size(desktop) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4) 0%,
        rgba(47, 48, 58, 0.4) 100%
      ),
      url(../image/hero/hero-desktop.jpg);
    height: 600px;
  }
  .hero-container {
    max-width: 700px;
  }
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (-o-min-device-pixel-ratio: 2/1),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4) 0%,
          rgba(47, 48, 58, 0.4) 100%
        ),
        url(../image/hero/hero-desktop@2x.jpg);
    }
  }
}
